/*
 * Style sheets for the Team 600 frontend
 */

html,
body {
  margin: 5pc;
  padding: 5pc;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 14px Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 850px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

h1.name {
  width: 100%;
  font-size: 80px;
  margin-bottom: 20px;
  line-height: 80px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

small {
  color: lightslategray;
}

h1.loading {
  width: 100%;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 80px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

#login-pane {
  padding: 0 0 !important;
  margin: 0 !important;
}


#searchField {
  min-width: 0;
  width: 20vw;
}

#resultsCard {
  color: gray;
  max-width: 90vw;
  /*  top | right | bottom | left */
  margin: 5vh 5vw 0 5vw;
}

#card {
  color: gray;
  /*  top | right | bottom | left */
  margin: 5vh 5vw 0 5vw;
}

#productInventoryCard {
  color: gray;
  max-width: 90vw;
}

#productCatalogueCard {
  color: gray;
  max-width: 90vw;
}

#prev, #next, #nextCatalogue, #nextInventory, #prevCatalogue, #prevInventory {
  width: 7vw;
  min-width: 90px;
}

.checkbox {
  padding-left: 24px;
  padding-top: 0.3vw;
}

.white-background {
  background: white !important;
}